body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo {
    position: relative;
    display: inline-block;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    z-index: 1; 
    position: relative;
    color: white; 
    background-color: #333; 
    padding: 10px; 
}

nav {
    overflow: hidden; 
}

nav ul {
    list-style: none;
    display: flex;
    float: right;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ccc;
}


#profile {
    padding: 50px 0;
}

.profile-content {
    display: flex;
    align-items: center;
}

.profile-image {
    flex: 1;
    margin-right: 20px;
}

.profile-text {
    flex: 2;
}

.profile-image img {
    width: 300px;
    height: auto;
}


#about {
    background-color: #fff;
    padding: 40px 20px;
}

#about h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

#about p {
    margin-bottom: 10px;
}

#greeting {
    font-size: 24px;
    color: #333;
    margin: 0 auto;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#portfolio {
    background-color: #f5f5f5;
    padding: 40px 20px;
}

#portfolio h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.project {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
}

.project h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 10px;
}

.project-snapshots {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.snapshot {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 10px;
}

.snapshot img {
    width: 300px;
    height: auto;
}

.language-bar {
    width: 600px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 5px;
}

.language-bar span {
    display: block;
    height: 20px;
    margin-right: 5px;
}

.english {
    background-color: #4caf4fa8;
}

.tamil {
    background-color: #2195f3ad;
}

.hindi {
    background-color: #ffc107ab;
}

.spanish {
    background-color: #ff5622b5;
}

.photo-gallery {
    width: 50vw;
    height: 75vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.photo-gallery img {
    display: inline-block;
    width: 50px; 
    height: 75px;
    margin-right: 10px; 
}

.scroll-container {
    display: inline-block;
    width: 75%; 
    transition: transform 0.5s ease;
}


.scroll-container > img {
    display: inline-block;
    width: 50vw;
    height: 75vh;
    padding: 20px;
    box-sizing: border-box;
    object-fit: cover;
}


#contact {
    background-color: #fff;
    padding: 40px 20px;
}

#contact h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

#contact p {
    margin-bottom: 20px;
}

#contact a {
    color: #333;
    text-decoration: none;
}

#contact a:hover {
    color: #666;
}

.contact-icon {
    width: 50px;
    height: auto;
    margin-right: 10px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #ccc;
}

.social-icons {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.social-icon {
    width: 50px;
    height: auto;
    margin-left: 10px;
}

.snapshot img[src="project21.jpg"],
.snapshot img[src="project22.png"],
.snapshot img[src="project23.png"],
.snapshot img[src="project24.png"] {
  
    height: 400px;
    width: 300px;
}